#navbar{
    
}
#navbarContainer{
    transition: top 1s;
}
.header {
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: top 1s;
    &Down {
        height: 70px;
        background-color: var(--color_black_down);
        box-shadow: 0 1px 10px var(--color_primary);
    }
    &Container {
        transition: top 1s;
        &Logo{
            margin-top: -20px;
            & img{
            width: 200px;
            height: 200px;
            }
        }
        &Down {
            height: 70px;
            & .headerContainerLogo img{
                width: 110px;
                height: 110px;
            }
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: auto;
        &Menu {
            width: calc(100% - 200px);
            height: 70px;
            & nav {
                height: 100%;
            }
        }
    }
    &WrapperSocial{
        position: absolute;
        top: 50%;
        right: 10px;
        width: 2vw;
        transform: translate(0,50%);
    }
}

.mainMenu {
    height: inherit;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    & li a {
        cursor: pointer;
        text-decoration: none;
        color: var(--color_text_white);
        font-weight: 700;
        transition: all .5s ease;
        text-shadow: 2px 2px #000000;
        &:hover {
            color: var(--color_primary);
            text-shadow: none;
        }
    }
    & .active {
        color: var(--color_primary);
    }
     
}
.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: black;
    box-shadow: 5px 5px 10px var(--color_primary);
    & li:first-child {
        margin-top: 20px;
    }
    & li:last-child {
        margin-bottom: 20px;
    }
    & li,
    & a,
    & div {
        float: none;
        display: block;
        text-align: center;
        line-height: 2;
    }
}
.menu_mobile_icon {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    display: none;
    & img{
        width: 45px;
        height: 45px;
    }
}
.display_block{
    display: block !important;
}



@media screen and (max-width: 1025px) {
    .menu_mobile_icon {
        display: block;
    }
    .headerContainer{
        &Down{
            height: auto;
        }
        &Menu{
            width: 40%;
            height: auto;
            display: none;
        }
    }
    .headerWrapperSocial{
        width: 4vw;
    }
}
@media screen and (max-width: 650px) {
    .headerContainerMenu{
        width: 40%;
        margin-right: 70px;
        height: auto;
    }
}
@media screen and (max-width: 500px) {
    .headerContainerLogo img{
                width: 110px;
                height: 110px;
    }
    .headerWrapperSocial{
        top: 100%;
        width: 8vw;
    }
    .headerContainerMenu{
        width: 60%;
        margin-right: 70px;
        margin-top: 10px;
        height: auto;
        text-align: center;
    }
}