

.character{
    position: relative;
    &title{
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%,0);
        width: 26%;
    }
    & h1{
        color: var(--color_primary);
        font-size: 4rem;
        font-weight: 700;
    }
    &FirstSlider{
        width: 60%;
        margin: auto;
        position: absolute !important;
        bottom: 0;
        display: none !important;
        &Item{
            width: 5.15% !important;
        }
    }
    &SecondSlider{ 
        position: relative;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        & img{
        width: 50% !important;
        height: 50% !important;
        }
        &Title{
            position: absolute;
            left: 20%;
            top: 40%;
            font-size: 1.5rem;
            color: var(--color_text_white);
            width: 30% !important;
            height: 50% !important;
            & h2{
                margin-bottom: 15px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .character{
        &SecondSlider{
            &Title{
                top: 45%;
                left: 12%;
                width: 40% !important;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .character{
        &title{
            width: 26%;
        }
        &SecondSlider{
            & img{
                order: 1;
                width: 80% !important;
            }
            &Title{
                order: 2;
                top: 50%;
                left: 5%;
                width: 60% !important;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .character{
        &SecondSlider{
            &Title{
                top: 30%;
                font-size: 1.2rem;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    
    .character{
       
        &FirstSlider{
            width: 60%;
            display: none !important;
        }
        &SecondSlider{
            flex-direction: column;
            & img{
                order: 1;
                width: 80% !important;
            }
            &Title{
                font-size: 0.6rem;
                width: 60% !important;
                top: 30%;
                left: 5%;
            }
        }
    }
}