
.tokenomics {
    overflow: hidden;
    background-image: url(../../media/bg_features.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80px;
    &Wrapper {
        position: relative;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        margin-top: 10%;
        &Img {
            width: 50%;
            display: inline-block;
            & img{
                width: 130%;
                margin-left: -25%;
            }
        }
        &Title{
            position: absolute;
            left: 50%;
            width: 26%;
            transform: translate(-50%,0);
            z-index: 1;
            top:-20%;
        }
        &Content {
            width: 50%;
            display: inline-block;
            color: var(--color_text_white);
            padding: 8%;
            // &Title {
            //     font-size: 4rem;
            //     font-weight: 800;
            //     & span {
            //         color: var(--color_primary);
            //     }
            // }
            & p {
                font-weight: 600;
                color: var(--color_text_white);
                margin-bottom: 15px;
                & span {
                    color: var(--color_primary);
                }
            }
            &List {
                margin-bottom: 50px;
                line-height: 1.5;
                list-style: none;
                & li span:first-child {
                    display: inline-block;
                    width: 70%;
                }
            }
        }
    }
}
@media screen and (max-width: 1500px) {
    .tokenomicsWrapperImg img{
                    width: 120%;
                    margin-left: -10%;
                }
}
@media screen and (max-width: 1300px) {
    .tokenomics {
        &Wrapper {
            &Content {
                padding-left: 0;
                font-size: 1.2rem;
            }
            &Img img{
                width: 100%;
                margin-left: 0;
            }
        }
    }
    .button{
        padding: 15px 40px;
    }
}
@media screen and (max-width: 1025px) {
    .tokenomics {
        &Wrapper {
            &Content {
                padding-left:5%;
                &Title {
                font-size: 2.5rem;
                }
            }
        }
    }
}
@media screen and (max-width: 850px) {
    .tokenomics {
        &Wrapper {
            flex-direction:column;
            &Content {
                width: 70%;
            }
            &Title {
                top: -10%;
            }
            &Img {
                width: 80%;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .tokenomics {
        &Wrapper {
            &Img {
                margin-top: 70px;
                width: 104%;
            }
            &Title {
                width: 60%;
                top: -5%;
            }
            &Content {
                width: 100%;
                padding: 15%;
                &List {
                    margin-bottom: 0;
                    & li span:first-child {
                        width: 70%;
                    }
                }
            }
        }
    }
}