.Vidwrapper{
    & img{
        display: none;
    }
    & video{
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .Vidwrapper{
        & img{
            display: block;
            content: url(../../media/metagunner_banner_500.png);
        }
        & video{
            display: none;
        }
    }
}