

.roadmap{
    margin-top: -5px;
    overflow: hidden;
    background-image: url(../../media/bg_features2.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
    &Container{
        position: absolute;
        left: 50%;
        height: 20% !important;
        transform: translate(-50%,0);
        z-index: 1;
    }
    &Title{
        position: absolute;
        width: 26%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &Wrapper{
        display: flex;
        // grid-gap: 4%;
        // gap: 4%;
        // grid-template-columns: repeat(auto-fit, minmax(194px,350px));
        // justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &Item{
            width: 20%;
        }
    }
}
@media screen and (max-width:769px) {
    .roadmap{
        &Wrapper{
            &Item{
                width: 40%;
            }
        }
    }
}
@media screen and (max-width:500px) {
    .roadmap{
        &Title{
        width: 40%;
        }
        &Wrapper{
            &Item{
                width: 80%;
            }
        //     display: grid;
        //     gap: 0;
        //     grid-template-columns: repeat(auto-fit, minmax(194px,250px));
        //     justify-content: center;
        //     margin-bottom: 100px;
        }
    }
    .imgRoadmap{
        margin-top: 50px;
        content: url(../../media/roadmap_MB.png);
    }
}