.features {
    background-image: url(../../media/bg_features.png);
    object-fit: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    & h1{
        font-size: 3rem;
    }
    &Title {
        width: 26%;
        margin: auto;
        margin-bottom: 30px;
    }
    &Wrapper {
        // display: grid;
        // gap: 3%;
        // grid-template-columns: repeat(auto-fit, minmax(calc(400px - 3%), calc(800px - 3%)));
        // justify-content: center;
        // margin-bottom: 10%;
        display: flex;
        flex-direction:column;
    }
    
}

.featureCard {
    display: flex;
    align-items:center;
    &Top {
        text-align: center;
        width: 50%;
        box-shadow: 10px 10px 10px var(--color_primary);
        // background:  var(--color_primary);
        &Title {
            font-size: 1.5rem;
            color: var(--color_text_white);
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            font-weight: 800;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 258px;
                height: 64px;
                z-index: -1;
                // background-image: url(../../media/feature-title-bg.a3fb3007.svg);
                transform: translate(-50%, -50%);
            }
        }
        &Img {
            & img {
                margin-bottom: -7px;
                // margin: 30px;
                // margin-top: 40px;
            }
        }
    }
    &Bottom {
        // border: 8px solid var(--color_primary);
        border-top-width: 0;
        width: 50%;
        &Title {
            padding: 37px 30px 17px;
            & h3 {
                font-family: "Bangers", sans-serif;
                color: var(--color_text_white);
                font-size: 2rem;
                text-align: center;
                margin-bottom: 1rem;
                letter-spacing: .05em;
                & span {
                    color: var(--color_primary);
                }
            }
            & p {
                color: var(--color_text_white);
                font-size: 1rem;
                // text-align: justify;
                font-weight: 700;
                line-height: 1.3;
            }
        }
    }
    &Four{
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 1000px) {
    .features {
        &Title {
            font-size: 2.5rem;
        }
    }
    
}
@media screen and (max-width: 799px) {
    .features {
        &Title {
            width: 40%;
        }
    }
    .featureCard {
        flex-direction:column;
        &Two{
            & .featureCardTop{
                order: 2;
            }
            & .featureCardBottom{
                order: 1;
            }
        }
        &Four{
            & .featureCardTop{
                order: 2;
            }
            & .featureCardBottom{
                order: 1;
            }
        }
    }
}
// @media screen and (max-width: 650px) {
//     .featuresWrapper{
//             margin-bottom: 100%;
//         }
// }
@media screen and (max-width: 600px) {
    .features {
        &Title {
            font-size: 1.5rem;
        }
    }
    .featureCard {
        flex-direction:column;
        &Top{
                width: 100%;
            }
        &Bottom{
                width: 100%;
            }
        }
}
@media screen and (max-width: 500px) {
    .features {
        &Title {
            width: 60%;
        }
    }
}
// @media screen and (max-width: 410px) {
//     .featuresWrapper{
//             margin-bottom: 150%;
//         }
// }